USE [master]
GO
/****** Object:  Database [TourMate_Interaction]    Script Date: 7/5/2025 1:33:42 PM ******/
CREATE DATABASE [TourMate_Interaction]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Interaction', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Interaction.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Interaction_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Interaction_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Interaction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Interaction]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 7/5/2025 1:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[contactId] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[isProcessed] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVApplication]    Script Date: 7/5/2025 1:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVApplication](
	[cvApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[link] [nvarchar](255) NULL,
	[image] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](50) NOT NULL,
	[response] [nvarchar](max) NULL,
	[createdAt] [datetime] NOT NULL,
	[areaId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
